*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image:url(background2.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(67, 71, 141);
    background-blend-mode: overlay;
    font-family: "DM Sans", sans-serif;
    padding: 25px 100px;

}
.initial{
    display: flex;
    color: hsla(0, 0%, 100%, 1);
}
.section-right, .section-left{
    display: flex;
    width: 100%;
    gap: 20px;
    padding-top: 30px;
}
.section-left{
    padding-left: 65px;
}
.listbox{
    display: flex;
    list-style: none;
}

.listbox li a, .nav2 a{
    color: #ffffff;
    font-size: 1rem;
    padding: 15px;
    text-decoration: none;
    justify-content: flex-end;
    text-align: center;
}
.nav2{
    display: flex;
    padding-left: 325px;
}
.section-right i{
    display: none;
}

.btn{
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 6.25rem;
    background-color: inherit;
    color: #ffffff;
    border: 0.15rem solid#ffffff6a;
    cursor: pointer;
}
main{
    width: 100%;
    height: 187px;
    color: #ffffff;
    padding-left: 230px;
    
    text-align: center;    
}
   
main h2, main p{
    width:65%;
    
}
main h2{
    font-size: 3.625rem;
    padding-top: 65px;
}

main p{
    font-size: 1.375rem;
    padding-top: 35px;
}
#put{
    border-radius: 6.25rem;
    border: 0.125rem solid #ffffff54;
    background-color: transparent;
    height: 45px;
    font-size: 20px;
    text-align: center;
}
.gbtn{
    background-color: #E93A7D;
    color: #ffffff;
    border-radius: 100px;
    padding: 15px;
    border: none;
    width: 20%;
    font-size: 20px;
cursor: pointer;
}

.div1, .div2{
    display: flex;
    gap: 19px;
    padding-top: 60px;
}
.div1{
    width: 100%;
    gap: 35px;
}

.p2{
    width: 70%;
    font-size: 14px;
    padding-top: 80px;
}
main i{
    border: 1px solid #ffffff3d;
    display: flex;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
}
.div2{justify-content: center;
    padding-right: 320px;
    padding-bottom: 10px;
}

